pipeline/pl_api_to_adls_parent.json
{
	"name": "pl_api_to_adls_parent",
	"properties": {
		"activities": [
			{
				"name": "Web_act_limit",
				"description": "to get limit values",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "Set_var_value",
				"description": "this activity saves limit value in variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_act_limit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "limit",
					"value": {
						"value": "@activity('web_act_limit').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_act_api_adls",
				"description": "this will get data from api to adls",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set_var_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('http://ergast.com/api/f1/seasons.json?limit=',variables('limit'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1_to_iterate_saeson_value",
				"description": "this will iterate season value",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_act_api_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_act_api_adls').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web_act3_race_data",
							"description": "this activity will get the data from api and  store in adls gen2 in json format",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('http://ergast.com/api/f1/',item().season,'.json?limit=100')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_var_race_data",
							"description": "this act will wright race data into one string type variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_act3_race_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "races_data",
								"value": {
									"value": "@{activity('web_act3_race_data').output.MRData.RaceTable.Races}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_act_race_data",
							"description": "this will copy data from set vairable to adls to bronze  to races",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_var_race_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "mycolumn",
											"value": {
												"value": "@variables('races_data')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "mycolumn",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_link_races_seasonwise_data",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "set_var_season_wise",
							"description": "this act will wright season value in one var",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year_wise",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_child_pl",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "set_var_season_wise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_race_result_round_wise_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"season_value_parameter": {
										"value": "@variables('year_wise')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set_var_only_season_data",
				"description": "this will wright data from api to one string variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_act_api_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "seasons_data_only",
					"value": {
						"value": "@{activity('Web_act_api_adls').output.MRData.SeasonTable.Seasons}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy_act",
				"description": "this will wright season data from set var to adls in json format",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_var_only_season_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "mycolumn",
								"value": {
									"value": "@variables('seasons_data_only')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mycolumn",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_season_data_only",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"limit": {
				"type": "String"
			},
			"races_data": {
				"type": "String"
			},
			"race_results": {
				"type": "String"
			},
			"file_name_season": {
				"type": "String"
			},
			"seasons_data_only": {
				"type": "String"
			},
			"year_wise": {
				"type": "String"
			},
			"season_id": {
				"type": "String"
			},
			"round_id": {
				"type": "String"
			},
			"season_round": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T18:05:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}