pipeline/pl_ingestion.json
{
	"name": "pl_ingestion",
	"properties": {
		"activities": [
			{
				"name": "actCopy_data_for_season",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_server",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": "seasons.json?limit=100"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_storage",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": {
								"value": "@concat('bronze/seasons/',string(utcnow('yyyyMMdd')))",
								"type": "Expression"
							},
							"filename": "season.json"
						}
					}
				]
			},
			{
				"name": "act_Lookup_season",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "actCopy_data_for_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_storage_without_parameter",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": {
								"value": "@concat('bronze/seasons/',string(utcnow('yyyyMMdd')))",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_races",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_Lookup_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_Lookup_season').output.value[0].MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "act_Copy_data_races",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_server",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(item()['season'],'.json?=100')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_storage",
									"type": "DatasetReference",
									"parameters": {
										"directory_path": {
											"value": "@concat('bronze/races/',string(utcnow('yyyyMMdd')))",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item()['season'],'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_races",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_storage_without_parameter",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": {
								"value": "@concat('bronze/races/',string(utcnow('yyyyMMdd')))",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "_act_ForEach_result",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_races').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_round",
								"value": {
									"value": "@item().MRData.RaceTable.Races",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"round_id": {
				"type": "String"
			},
			"season_round": {
				"type": "String"
			},
			"season_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T18:05:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}