pipeline/pl_race_result_round_wise_child.json
{
	"name": "pl_race_result_round_wise_child",
	"properties": {
		"activities": [
			{
				"name": "ForEach_act_season",
				"description": "this act will iterate through rounds",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "web_act1_of_pl2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_act1_of_pl2').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web_act_to_roundwise_race_result",
							"description": "this will get data from api",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('http://ergast.com/api/f1/',pipeline().parameters.season_value_parameter,'/',item().round,'/','results.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_var_round_wise_result",
							"description": "this will wright race result data to string type variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_act_to_roundwise_race_result",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "race_results",
								"value": {
									"value": "@{activity('Web_act_to_roundwise_race_result').output.MRData.RaceTable.Races}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy_act_data_round_wise",
							"description": "this will copy data from api to adls in json format",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set_var_round_wise_result",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "set_var_season_value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "mycolumn",
											"value": {
												"value": "@variables('race_results')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "mycolumn",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SINK_SEASON_ROUND_WISE_DATA",
									"type": "DatasetReference",
									"parameters": {
										"year_name": {
											"value": "@variables('file_name_season')",
											"type": "Expression"
										},
										"round": {
											"value": "@item().round",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "set_var_season_value",
							"description": "ti=his will wright season value in one variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name_season",
								"value": {
									"value": "@pipeline().parameters.season_value_parameter",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "web_act1_of_pl2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('http://ergast.com/api/f1/',pipeline().parameters.season_value_parameter,'.json')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"season_value_parameter": {
				"type": "string"
			}
		},
		"variables": {
			"race_results": {
				"type": "String"
			},
			"file_name_season": {
				"type": "String"
			},
			"seasons_data_only": {
				"type": "String"
			},
			"season_id": {
				"type": "String"
			},
			"round_id": {
				"type": "String"
			},
			"season_round": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T18:05:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}