pipeline/pl_seasons_url.json
{
	"name": "pl_seasons_url",
	"properties": {
		"activities": [
			{
				"name": "Web_url",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "Set_variable_for_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year_wise_url",
					"value": {
						"value": "@{activity('Web_url').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy_years",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_variable_for_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "col",
								"value": {
									"value": "@variables('year_wise_url')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "col",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_web_source_year",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_url_web",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "seasons"
						}
					}
				]
			}
		],
		"variables": {
			"year_wise_url": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"take_year_from_parents": {
				"type": "String"
			},
			"round_wise_data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-26T18:35:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}